<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyDiemSV.Properties.Settings.QL_DiemSVConnectionString"
            connectionString="Data Source=DUCTRUNG-PC;Initial Catalog=QL_DiemSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyDiemSV.Properties.Settings.QL_DiemSVConnectionString1"
            connectionString="Data Source=desktop-kgcjnih\sqlexpress;Initial Catalog=QL_DiemSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>